{{ partial "header.html" . }}
<div class="wrapper">
  <article id="post-16" class="post-16 post type-post status-publish format-standard hentry category-uncategorized js-gallery">
    <h1 class="post-title">{{ .Title }}</h1>
    <div class="post-body js-gallery mb">
      {{ .Content }}
    </div>

    <div class="meta mb+ split split--responsive">
      <div class="split__title">
        <time>{{ .Date.Format "Jan 2, 2006" }}</time>
        <span class=""></span>
      </div>
    </div>
  </article>
</div>
{{ partial "footer.html" . }}