<!-- Brief intro -->
<div class="header-intro">
  <h2>Tim Whitacre</h2>
  <p>
    <a href="https://github.com/twhitacre">Hacker</a>, 
    <a href="http://theironyard.com">Educator</a>, 
    <a href="http://whiskeylist.co/">Whiskey Drinker</a>
  </p>
</div>
<hr />
<!-- End intro -->

<div class="home">

  <h4 class="note-heading">Notes</h4>

  <ul id="post-list">
    {{ $paginator := .Paginate (where .Data.Pages "Section" "post") }}
    {{ range $paginator.Pages }}
        <li>
          <a href="{{ .Permalink }}">
            <aside class="dates">{{ .Date.Format "Jan 2, 2006" }}</aside>
          </a>
          <a href="{{ .Permalink }}">{{ .Title }}</h2></a>
        </li>
    {{ end }}
  </ul>

  <div class="pagination">
    {{ partial "pagination.html" $paginator }}
  </div>

</div>