{{ partial "header.html" . }}
<div class="wrapper">
  <div class="page-content">
    <div class="post">

      <header class="post-header">
        <h1 class="post-title">Ruh Roh!</h1>
      </header>

      <article class="post-content">
        <p>Sorry, we can't find this post/page. It 404'd. :(</p>
        <p>It's probably because of something I did, or maybe you followed an old link. Either way, it ain't here, so maybe head back <a href="/">home</a> or hit me up on <a href="https://twitter.com/timwco">twitter</a> and ask me to fix this!</p>
        <p>Thanks!</p>
      </article>

    </div>
  </div>
  {{ partial "footer.html" . }}
</div>

    